@font-face {
    font-family: "Inter-eb";
    src: url(../../assets/fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter-sb";
    src: url(../../assets/fonts/Inter_28pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter-bold";
    src: url(../../assets/fonts/Inter_28pt-Bold.ttf);
}

@font-face {
    font-family: "Inter-black";
    src: url(../../assets/fonts/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: "Inter-md";
    src: url(../../assets/fonts/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: "Manrope-bold";
    src: url(../../assets/fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: "Manrope-eb";
    src: url(../../assets/fonts/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: "Manrope-regular";
    src: url(../../assets/fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: "Inter-regular";
    src: url(../../assets/fonts/Inter_24pt-Regular.ttf);
}


:root {
    --color-gray: #475569;
    --bgc-green: #2C5926;
    --color-green: #2C5926;
}

header {
    background-color: #F1F5F9;
}

.h-gray {
    color: var(--color-gray);
}

.bgc-green {
    background-color: var(--bgc-green);
}

.color-green {
    color: var(--color-green);
}

nav {
    font-family: "Inter-sb";

}

.search-box {
    position: relative;
    width: 209px;
    margin: auto;
    display: flex;
    align-items: center;
}

/* Input o'lchami */
.my-search-input {
    width: 209px;
    /* yangi width */
    height: 56px;
    /* yangi height */
    padding: 0 40px;
    /* chap/ o‘ng icon uchun joy */
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #f2f4f1;
    font-size: 14px;
    color: #333;
}

/* Placeholder rangi */
.my-search-input::placeholder {
    color: #999;
}

/* Search icon */
.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
}

.search-icon img {
    width: 16px;
    height: 16px;
}



.btn-login {
    color: #334155;
    border: none;
    width: 85px;
    height: 40px;
    background-color: transparent;
    font-family: "Inter-bold";
}

.btn-signup {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: "Inter-bold";
}

@media (max-width: 992px) {

    nav,
    .btn-login,
    .btn-signup {
        font-size: 13px;
    }
}

/* Hamburger icon */
.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #334155;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #334155;
    transition: all 0.3s;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    bottom: -8px;
}



/* HERO! */


.hero {
    padding-top: 122px;
    background-color: #F1F5F9;
}

.trade-box {
    font-family: "Inter-bold";
    width: 260px;
    height: 28px;
    border-radius: 10px;
    background-color: #E2E8F0;
}

.hero-title {
    color: #0F172A;
    font-size: 72px;
    font-family: "Inter-black";
}

.hero-text {
    color: #475569;
    font-family: "Inter-md";
}

.btn-join {
    /* width: 221px; */
    height: 70px;
    border-radius: 50px;
    color: #fff;
    border: none;
    font-family: "Inter-bold";
}

.btn-find {
    /* width: 221px; */
    height: 70px;
    border-radius: 50px;
    color: #0F172A;
    border: 1px solid #E2E8F0;
    font-family: "Inter-bold";
    background-color: #fff;
}

.hero-right {
    background-image: url(../../assets/imgs/HeroImg.svg);
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
}

.h-img-box {
    border-radius: 20px;
    background-color: #fff;
    padding: 3px;
}


.grass-img {
    border-radius: 20px;
    width: 100%;
}

.export-sec-inner {
    margin-top: 81px;
}

.export-title {
    color: #0F172A;
    font-family: "Inter-black";
    font-size: 48px;
}

.export-text {
    color: #475569;
    font-family: "Inter-regular";
    font-size: 18px;
}

.export-card {
    background-color: #F1F5F9;
    border-radius: 32px;
    width: 389px;
    height: 330px;
}

.export-card-subtitle {
    color: #0F172A;
    font-family: "Inter-eb";
    font-size: 24px;
}

.export-card-text {
    color: #475569;
    font-family: "Inter-md";
    font-size: 16px;
}

.export-mobile-title {
    color: #0F172A;
    font-family: "Manrope-bold";
    font-size: 30px;
}

.export-mobile-text {
    color: #64748B;
    font-family: "Manrope-regular";
    font-size: 16px;
}

.stats-sec {
    background-color: #F1F5F9;
    padding: 3%;
    margin-top: 96px;
}

.stats-inner {
    border-radius: 32px;
    height: 272px;
}

.stats-info {
    font-family: "Inter-bold";
    font-size: 14px;
    color: #fff;
}

.stats-number {
    font-family: "Inter-black";
    font-size: 60px;
    color: #fff;
}

.stats-text {
    font-family: "Inter-regular";
    color: #fff;
    font-size: 12px;
}

.stats-m-number {
    font-family: "Manrope-eb";
    color: #fff;
    font-size: 36px;
}

.stats-m-text {
    font-family: "Manrope-regular";
    color: #fff;
    font-size: 14px;
}


.cta-sec {
    background-color: #F1F5F9;
}

.cta-subtitle {
    color: #0F172A;
    font-family: "Inter-black";
    font-size: 36px;
}

.cta-text {
    color: #475569;
    font-family: "Inter-regular";
    font-size: 18px;
}

.cta-input {
    width: 343px;
    height: 58px;
    border-radius: 80px;
    border: 1px solid #E2E8F0;
}

.cta-input:focus {
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cta-btn {
    width: 153px;
    height: 58px;
    background-color: var(--bgc-green);
    border: none;
    color: #fff;
    border-radius: 80px;
    font-family: "Inter-bold";
}

.footer-text {
    color: #64748B;
    font-family: "Inter-regular";
    font-size: 16px;
}

.footer-ul {
    color: #94A3B8;
    font-family: "Inter-bold";
    font-size: 12px;
}

.footer-li a {
    color: #475569;
    font-family: "Inter-sb";
    font-size: 14px;
}

.footer-t-right {
    gap: 15%;
}

.footer-copyright {
    color: #64748B;
    font-family: "Inter-regular";
    font-size: 14px;
}

.footer-b-text {
    color: #94A3B8;
    font-size: 14px;
    font-family: "Inter-sb";
}

.footer-bottom {
    border-top: 1px solid #94A3B8;
}

/* Mobile menu spacing */

@media (max-width: 1400px) {
    .export-card {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .export-card {
        width: 100%;
    }

    .export-card-subtitle {
        font-family: "Manrope-bold";
        font-size: 20px;

    }

    .export-card-text {
        font-family: "Manrope-regular";
        font-size: 16px;
    }

    .export-card:first-child {
        margin-bottom: 20px;
    }

    .export-card:last-child {
        margin-top: 20px;
    }


    /* TOP SECTION */
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding: 40px !important;
    }

    /* LEFT PART */
    .footer-t-left {
        width: 100%;
        max-width: 100%;
    }

    .footer-t-left img {
        max-width: 160px;
    }

    .footer-text {
        font-size: 14px;
        line-height: 22px;
    }

    /* RIGHT PART */
    .footer-t-right {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer-ul {
        min-width: 150px;
    }

    /* BOTTOM */
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 30px !important;
    }

    .footer-bottom .d-flex {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .nav-link {
        padding: 10px 0;
    }

    .right-icon {
        display: none;
    }

    .hero-title {
        font-family: "Manrope-eb";
        font-size: 36px;
        margin-top: 20px;
    }

    .hero-text {
        font-family: "Manrope-regular";
        font-size: 18px;
    }

    .btn-join,
    .btn-find {
        font-family: "Manrope-bold";
    }



}

@media (max-width: 576px) {}